* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}

//Header styles
nav {
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;

  .header__events {
    width: 50%;
    justify-items: flex-start;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header__home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    width: 50%;
  }
}

//Main styles
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 3em 0;
}
.featured__event {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  background-color: darkgray;

  .featured__img {
    width: 300px;
  }
  .featured__event_header,
  .featured__event_description {
    padding-left: 2em;
    padding-bottom: 2em;
  }
  .featured__event_btn {
    margin-left: 2em;
    padding: 1em;
  }
}

// Event cards styles
.events {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  .event__card {
    width: 19em;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .event__card_name {
    color: red;
    padding: 0 0.5em;
    font-weight: 400;
  }
  .event__card_btn {
    padding: 0.5em;
  }
}
